* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sukhumvit Set", Verdana, sans-serif;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}

.invisible {
  display: none;
}

.default-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 2em;
}

@media (max-width: 768px) {
  .default-image {
    width: 100%;
  }
}
